
* {
    /* border: 1px solid purple; */
}


html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.header-color {
    background-color: white;
    opacity: 0.11;
}

.logo {
    height: 60px;
    cursor: pointer;
}

.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10;
}

.menu-text {
    display: flex;
    align-items: center;
}

.menu-item {
    margin-right: 40px;
    margin-left: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.menu-item:hover {
    transform: scale(1.1);
    transition: all 200ms;
}

.menu-item:first-child {
    margin-left: 0;
}

.menu-item:last-child {
    margin-right: 0;
}

.hero {
    height: 100vh;
    background-image: linear-gradient(to right, #F5A803 , #D14405);
}